

 .btn{
    background-color: white;
    border-color: white;
    border-width: 0px;
    border-style: none;
    box-lines: 0;
    
}
.btn:hover {
    cursor:default !important;
    background-color: white;
    border-color: white;
}
.btn:focus {
    background-color: white;
    border-color: white;
    border-width: 0px;
    border-style: none;
}
.btn:active {
    background-color: white;
    border-color: white;
    border-width: 0px;
    border-style: none;
    box-sizing: border-box;
}
img{
    height: 120px;
    border-color: white;
    background-color: white;
}
.box-shadow{
-webkit-box-shadow: none!important;
   box-shadow: none!important;

}